.logo{
    color: darkblue;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

header{
    background-color: rgb(209, 215, 212);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#userName{
    padding: 5px;
    margin: auto;
}

.logoutbtn{
    display: flex;
    flex-direction: row;
}

.logout-comp{
    float: right;
}


.logout{
    float: right;
    height: 19.2px;
    width: auto;
    margin: 21.280px 0px 21.280px 0px;
    padding: 5px;
}

main{
    height: calc(100vh - 61.75px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.creategroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    align-self: center;
    background-color: rgb(92, 197, 60);
    cursor: pointer;
}

.create-more-grps{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 30px;
    background-color: rgb(92, 197, 60);
    cursor: pointer;
}

.create-btn{
    border: none;
    background: none;
    text-decoration: none;
    color: black ;
}

.plus{
    padding: 5px;
    height: 24px;
}

.group{
    background-color: rgba(10, 150, 0, 0.3);
    padding: 1% 2% 1% 2%;
    border-bottom: black solid 1px;
}
.group:hover{
    cursor: pointer;
}
.grp-members{
    display: flex;
    flex-direction: row;
    height: 19px;
    text-decoration: none;
}